#control-panel {
    position: absolute;
}
#dashboard-controls {
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#display-area > div:nth-child(even) {
    background-color: #e0e0e0;
}

#display-area > div:nth-child(odd) {
    background-color: #ffffff;
}

#display-area > div:nth-child(n + 8) {
    display: none;
}
